<!DOCTYPE html>
<html>
<head>
    <%- include('common/head.inc') %>
</head>
<body>
    <div id="app">
        <p>这是全局:<%= global.name %></p>
        <p>这是当前页:<%= name %></p>
        <a href="index.html">index</a>
    </div>
</body>
</html>